#content.admin{
    background: #fbfbfb;
}
.one-page-menu li a.active{
    background:#ffc107;
}
.profile-icon{
    height: 40px;
    width: 40px;    
    border-radius: 50%;
}
.black{
    color:black;
}
#sidebar{
    width: 80px;
    background: #fff;
    min-height: 400px;

    position: absolute;
    z-index: 197;
    float: left;
    /* border-right:1px solid #f0f0f0; */
-webkit-box-shadow: 2px 2px 24px -6px rgba(0,0,0,0.2);
-moz-box-shadow: 2px 2px 24px -6px rgba(0,0,0,0.2);
box-shadow: 2px 2px 24px -6px rgba(0,0,0,0.2);
}

#header.sticky-header #header-wrap, #header.full-header.border-full-header.sticky-header #header-wrap{
    border-bottom: 0px !important;
}
#processTabs{
    background: #ffc107;
}
#processTabs .i-rounded, .i-circled, .i-bordered{
        width: 20px !important;
    height: 20px !important;
    background: #fff !important;
    line-height: 20px !important;
    border:0;
}
.process-steps li:before, .process-steps li:after{
    top:14px !important;
    border-top: 1px solid #fff !important;
     width: 55% !important;
    
}
.steps{
  padding: 0; 
  background: #fff;
-webkit-box-shadow: -1px 7px 17px -2px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 7px 17px -2px rgba(0,0,0,0.1);
box-shadow: -1px 7px 17px -2px rgba(0,0,0,0.1);
}
.process-steps{
    padding-top:10px;
    padding-bottom: 10px;
}
.process-steps li{
    width: 33.333333333% !important;
}
.process-steps li h5{
        color:#fff;
      margin: 5px 0 0 0;
}
#sidebar ul{
    width: 100%;
}
#sidebar ul li{
    display: block  ;
    list-style-type: none;
}
#sidebar ul li a{
    width: 100% !important;
    display: block;
    line-height: 60px;
    text-align: center;
    height: 60px !important;
}
#sidebar ul li.active a{
    background:#ffc107;
}

#sidebar ul li a{
    color: #666 ;
}

#sidebar ul li.active a{
    
    color:#fff;
}

#sidebar ul li .fa{
    font-size: 22px;
}


.popup .description{
    background:rgba(255, 197, 39, .8) ;
    padding: 30px;
}

  .popup .description *{
    color:#fff;
}
  .popup .description h2{
      font-size: 25px;
      margin-bottom: 0px;
      text-transform: uppercase;
}
.mfp-bg{
    background: #00000066;
}
  
.signup-tabs{
    background: #fff;
    padding: 0;
}
.signup-tabs ul.tab-nav:not(.tab-nav-lg) li:first-child{
        margin-left: 0;
    border-left:0;
}
.signup-tabs ul.tab-nav:not(.tab-nav-lg) li {
    width: 50%;
    float: left;
    border: 1px solid #DDD;
    border-bottom: 0;
    border-left: 0;
    height: 41px;
    text-align: center;
}

.signup-tabs  ul.tab-nav:not(.tab-nav-lg) li a{
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    background: #ffc52721;
    color:#ffc552;
}

 .signup-tabs ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
    position: relative;
    top: 0;
    background-color: #ffc107;
    color:#fff;
}
.signup-tabs ul.tab-nav:not(.tab-nav-lg) li{
    border:0;
}
.signup-tabs ul.tab-nav:not(.tab-nav-lg){
    border-bottom: 0;
}
.tab-container{
    top:15px;
}
.mfp-close-btn-in .mfp-close{
    display: none;
}

.tab-container h4{
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;  
}

.form-control{
    border:0px !important ;
    border-bottom: 1px solid #ced4da !important; 
    padding-left: 0px !important; 
     font-size: 0.9em !important;
     font-style: italic !important;
}
.form-control:focus{
    border-bottom: 1px solid #ffc107 !important;
}

select.form-control{
    border: 1px solid #ffc107 !important;  
    border-radius: 50% !important;
}
.form-control.bordered{
    border: 1px solid #ffc107 !important;
    border-radius: 10px;
    padding:5px !important;
}
.right{
    float: right;
}
label{
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    font-size: 15px !important;
    font-weight: normal !important;
    text-transform: none !important;
}
.button.primary{
    color:#fff;
    background: #ffc107;
    font-weight: normal;
     text-shadow: none;
     min-width: 200px;
     font-size: .9em;
}

.button.primary:hover{
    background: #fdc006;
}

a {
    text-decoration: none !important;
    color: #ffc107;
}

a:hover{
    color: #ffc509;
}
.italic{
    font-style: italic;
}

.breadcrumb {
    /* position: absolute !important; */
    /* width: auto !important; */
    /* top: 50% !important; */
    /* left: auto !important; */
    /* right: 15px !important; */
    /* margin: -10px 0 0 0 !important; */
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 12px;
}

/* General Button Style */
.btn-hexagon{
  position: relative;
    display:block;
    background: transparent;
    width:200px;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:12px;
    text-decoration:none;
    text-transform:uppercase;
    margin:40px auto;
}
.btn-hexagon:before, .btn-hexagon:after {
    width:200px;
  left: 0px;
    height:31px;
  z-index: -1;
}
.violet{ color: violet; }
.indigo{ color: indigo; }
.slateblue{ color: slateblue; }
.mediumseagreen{ color: mediumseagreen; }
.yellowgreen{ color: yellowgreen; }
.orange{ color: #ffc107; }
.indianred{ color: indianred; }
/* Button Border Style */
.violet:before,.violet:after {
    border: 1px solid violet;
}
.indigo:before,.indigo:after {
    border: 1px solid indigo;
}
.slateblue:before,.slateblue:after {
    border: 1px solid slateblue;
}
.mediumseagreen:before,.mediumseagreen:after {
    border: 1px solid mediumseagreen;
}
.yellowgreen:before,.yellowgreen:after {
    border: 1px solid yellowgreen;
}
.orange:before,.orange:after {
    border: 2px solid #ffc107;
}
.indianred:before,.indianred:after {
    border: 1px solid indianred;
}

.btn-hexagon:before{
  position: absolute;
  content: '';
  border-bottom: none;
  -webkit-transform: perspective(15px) rotateX(5deg);
  -moz-transform: perspective(15px) rotateX(5deg);
  transform: perspective(15px) rotateX(5deg);  
}
.btn-hexagon:after{
  position: absolute;
  top: 32px;
  content: '';
  border-top: none;
  -webkit-transform: perspective(15px) rotateX(-5deg);
  -moz-transform: perspective(15px) rotateX(-5deg);
  transform: perspective(15px) rotateX(-5deg);
}

/* Button Hover Style */
.violet:hover:before, .violet:hover:after {
    background: violet;
}
.indigo:hover:before, .indigo:hover:after {
    background: indigo;
}
.mediumseagreen:hover:before, .mediumseagreen:hover:after {
    background: mediumseagreen;
}
.slateblue:hover:before, .slateblue:hover:after {
    background: slateblue;
}
.yellowgreen:hover:before, .yellowgreen:hover:after {
    background: yellowgreen;
}
.orange:hover:before, .orange:hover:after {
    background: #ffc107;
}
.indianred:hover:before, .indianred:hover:after {
    background: indianred;
}

.btn-hexagon:hover{
    color:#fff;
    cursor: pointer;
}

