    #login{
        background: #fff;
    }
    .login-head{
        background: $primary;
        h5{
            color:#fff;
        }
    }
    .tab-content{
        width:100%;
    }

   .double-pica{
       font-family: 'IM Fell Double Pica', serif !important;
   }
   .spaced{
       letter-spacing: 5px;
   }
   p{
       color:#666;
   }