    #login{
        background: #fff;
    }
    .login-head{
        background: $primary;
        h5{
            color:#fff;
        }
    }
    .tab-content{
        width:100%;
    }

   .double-pica{
       font-family: 'IM Fell Double Pica', serif !important;
   }
   .spaced{
       letter-spacing: 5px;
   }
   p{
       color:#666;
   }
   .breadcrumb {
    position: static !important; 
    /* width: auto !important; */
    /* left: auto !important; */
    /* right: 15px !important; */
    margin: 0 0 0 0 !important; 
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 12px;
}


.process-steps li .i-bordered:not(.active){
        background: #0000 !important;
    border: 1px solid #fff !important;
    color:#fff !important;
}
.process-steps li {
         background: #0000 !important; 
}
.i-rounded:hover, .i-circled:hover{
    text-shadow: none;
    box-shadow: none;
}
body:not(.device-touch) .i-rounded, body:not(.device-touch) .i-plain, body:not(.device-touch) .i-circled, body:not(.device-touch) .i-bordered, body:not(.device-touch) .social-icon{
    transition: none;
}

.custom-control-label::before{
    background: #0000;
    border: 2px solid $primary;
}
.float-left .col-md-3{          
    float: left;
    padding: 0;
}

.modal-content{
    border-radius:0 !important;
    background:none;
}
.modal-body{
    padding:0 !important;
}