    #login{
        background: #fff;
    }
    .login-head{
        background: $primary;
        h5{
            color:#fff;
        }
    }
    .tab-content{
        width:100%;
    }

   .double-pica{
       font-family: 'IM Fell Double Pica', serif !important;
   }
   .spaced{
       letter-spacing: 5px;
   }
   p{
       color:#666;
   }
   .breadcrumb {
    position: static !important; 
    /* width: auto !important; */
    /* left: auto !important; */
    /* right: 15px !important; */
    margin: 0 0 0 0 !important; 
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 12px;
}


.process-steps li .i-bordered:not(.active){
        background: #0000 !important;
    border: 1px solid #fff !important;
    color:#fff !important;
}
.process-steps li {
         background: #0000 !important; 
}
.i-rounded:hover, .i-circled:hover{
    text-shadow: none;
    box-shadow: none;
}
body:not(.device-touch) .i-rounded, body:not(.device-touch) .i-plain, body:not(.device-touch) .i-circled, body:not(.device-touch) .i-bordered, body:not(.device-touch) .social-icon{
    transition: none;
}

.custom-control-label::before{
    background: #0000;
    border: 2px solid $primary;
}
.float-left .col-md-3{          
    float: left;
    padding: 0;
}

.modal-content{
    border-radius:0 !important;
    background:none;
}
.modal-body{
    padding:0 !important;
}
.no-radius{
     border-radius:0px !important;
}

.btn-primary.transparent{
    background: rgba($primary, .3) !important;

}
.uppercase{
    text-transform: uppercase;
}
.margin-bottom-20{
    margin-bottom:20px !important;
}
.sticky-header .not-dark{
    background: url('/assets/theme/one-page/images/page/banner.jpg') !important; 
}
.sticky-header .not-dark .container{
    background:rgba($color: #000000, $alpha: .7)
}

.sticky-header .not-dark .container #primary-menu ul li > a{
    color:#fff;
}
::selection {
    background:$primary;
    color: #FFF;
    text-shadow: none;
}
@media only screen and (min-width: 500px) {
    .become-igniter{
        margin-right:30px !important;
    }
}

.portfolio-filter li.activeFilter a{
    background-color: $primary;
}
.portfolio-filter li a:hover{
    color:$primary;
}