#howWeWork{
    .fa{
        background:#fff;
        color: $primary;
        position: absolute;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
    }
    .col-md-2{
        position: relative;
    }
    background:#000;
    padding:100px;
    .col-md-2:nth-child(2){
        height: 200px;
        border-top:2px dashed red;
        border-right:2px dashed red;
    }
    .col-md-2:nth-child(3){
        height: 100px;
        border-bottom:2px dashed red;
        border-right:2px dashed red;
        margin-top:100px;
    }
    .col-md-2:nth-child(4){
        margin-top:100px;
        height: 200px;
        border-top:2px dashed red;
        border-right:2px dashed red;
    }
    .col-md-2:nth-child(5){
        margin-top:100px;
        height: 200px;
        border-bottom:2px dashed red;
    }
    .col-md-2:nth-child(6){
        margin-top:50px;
        height: 250px;
        border-left:2px dashed red;
    }
}
.background-image{
    margin:-100px;
    background:  url('/assets/theme/one-page/images/page/banner.jpg');
    background-position: center;
    opacity: .1;
    position: absolute;
    height: 100%;
    width: 100%;
}
.page-section{
    padding-bottom:0;
}
