#content.admin{
    background: #fbfbfb;
}
#sidebar{
    width: 80px;
    background: #fff;
    min-height: 800px;
    float: left;
    /* border-right:1px solid #f0f0f0; */
-webkit-box-shadow: 96px 11px 163px 125px rgb(0,0,0);
-moz-box-shadow: 96px 11px 163px 125px rgb(0,0,0);
box-shadow: 96px 11px 163px 125px rgb(0,0,0);
}
#sidebar ul{
    background: red;
    display: inline-block;
    width: 100%;
}
#sidebar ul li{
    background: green;
    list-style-type: none;
}

#sidebar ul li a{
    padding: 10px;
}

#sidebar ul li .fa{
    color:#000;
}


.popup .description{
    background:rgba(255, 197, 39, .8) ;
    padding: 30px;
}

  .popup .description *{
    color:#fff;
}
  .popup .description h2{
      font-size: 25px;
      margin-bottom: 0px;
      text-transform: uppercase;
}
.mfp-bg{
    background: #00000066;
}
  
.signup-tabs{
    background: #fff;
    padding: 0;
}
ul.tab-nav:not(.tab-nav-lg) li:first-child{
        margin-left: 0;
    border-left:0;
}
ul.tab-nav:not(.tab-nav-lg) li {
    width: 50%;
    float: left;
    border: 1px solid #DDD;
    border-bottom: 0;
    border-left: 0;
    height: 41px;
    text-align: center;
}

ul.tab-nav:not(.tab-nav-lg) li a{
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    background: #ffc52721;
    color:#ffc552;
}

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
    position: relative;
    top: 0;
    background-color: #ffc107;
    color:#fff;
}
ul.tab-nav:not(.tab-nav-lg) li{
    border:0;
}
ul.tab-nav:not(.tab-nav-lg){
    border-bottom: 0;
}
.tab-container{
    top:15px;
}
.mfp-close-btn-in .mfp-close{
    display: none;
}

.tab-container h4{
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;  
}

.form-control{
    border:0px !important ;
    border-bottom: 1px solid #ced4da !important; 
    padding-left: 0px !important; 
     font-size: 0.9em !important;
     font-style: italic !important;
}
.form-control:focus{
    border-bottom: 1px solid #ffc107 !important;
}
label{
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    font-size: 15px !important;
    font-weight: normal !important;
    text-transform: none !important;
}
.button.primary{
    color:#fff;
    background: #ffc107;
    font-weight: normal;
     text-shadow: none;
     min-width: 200px;
     font-size: .9em;
}

.button.primary:hover{
    background: #fdc006;
}

a {
    text-decoration: none !important;
    color: #ffc107;
}

a:hover{
    color: #ffc509;
}
.italic{
    font-style: italic;
}

