.popup .description{
    background:rgba(255, 197, 39, .8) ;
    padding: 30px;
}

  .popup .description *{
    color:#fff;
}
  .popup .description h2{
      font-size: 25px;
      margin-bottom: 0px;
      text-transform: uppercase;
}
.mfp-bg{
    background: #00000066;
}
  
.signup-tabs{
    background: #fff;
    padding: 0;
}
ul.tab-nav:not(.tab-nav-lg) li:first-child{
        margin-left: 0;
    border-left:0;
}
ul.tab-nav:not(.tab-nav-lg) li {
    width: 50%;
    float: left;
    border: 1px solid #DDD;
    border-bottom: 0;
    border-left: 0;
    height: 41px;
    text-align: center;
}

ul.tab-nav:not(.tab-nav-lg) li a{
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    background: #ffc52721;
    color:#ffc552;
}

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
    position: relative;
    top: 0;
    background-color: #ffc527;
    color:#fff;
}
ul.tab-nav:not(.tab-nav-lg) li{
    border:0;
}
ul.tab-nav:not(.tab-nav-lg){
    border-bottom: 0;
}
.tab-container{
    top:15px;
}
.mfp-close-btn-in .mfp-close{
    display: none;
}

.tab-container h4{
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;  
}

.form-control{
    border:0px !important ;
    border-bottom: 1px solid #ced4da !important; 
    padding-left: 0px !important; 
     font-size: 0.9em !important;
     font-style: italic !important;
}
.form-control:focus{
    border-bottom: 1px solid #ffc527 !important;
}
label{
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    font-size: 15px !important;
    font-weight: normal !important;
    text-transform: none !important;
}